.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.deploy_git*/
.idea
themes/butterfly/.git
package-lock.json

# 个人文件不进入版本控制
source/.obsidian/
source/_diary/
source/Excalidraw/
source/ai-newstoday.zip
source/未命名.md
urls.txt
link.js
netlify.toml
